:root {
  --clr-gold: #ecc700;
  --clr-dark-gold: #daa520ca;
  --clr-signIn: #bca732;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.65rem;

    .logo {
      width: 35px;
      height: 35px;
      color: var(--clr-gold);
    }

    p {
      letter-spacing: 2px;
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.5rem;

    ul {
      display: flex;
      gap: 2rem;

      .cart-list{
        position: relative;

        .cart-count {
          font-size: 12px;
          font-weight: 400;
          background-color: rgb(62, 161, 164);
          border-radius: 50%;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;

          position: absolute;
          top: -10px;
          right: -15px;
        }
      }

    }
    a {
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: 1.25px;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 10px;
      }
    }

    .signIn-section {
      display: flex;
      gap: 1rem;

      .user {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-right: 0.5px solid gray;
        padding-right: 1.5rem;

        img {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          border: 0.8 solid gray;
        }

        p {
          font-size: 1.25rem;
          font-weight: 500;
        }
      }

      .guest {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-right: 0.5px solid gray;
        padding-right: 1.5rem;

        .guest-icon {
          color: var(--clr-signIn);
        }

        p {
          font-size: 1.25rem;
          font-weight: 500;
        }
      }
    }

    .signIn {
      font-size: 1.25rem;
      font-weight: 500;
      color: var(--clr-signIn);
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 10px;
      }
    }

    .isActive {
      color: var(--clr-dark-gold);
      text-decoration: underline;
      text-underline-offset: 10px;
    }
  }
}
