:root {
  --clr-gold: #ecc700;
  --clr-dark-gold: #daa520ca;
  --clr-signIn: #bca732;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-gold);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-dark-gold);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}